[defaults]
# Tells Ansible exactly where your global inventory lives
inventory = ./hosts

# Permanently stops the annoying SSH "yes/no" fingerprint prompt
host_key_checking = False

# Gives virtual routers plenty of time to respond before crashing
timeout = 120